@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Story+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  position: sticky;
  top: 0;
  background-color: #117eb8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo {
    margin-left: 20px;
    padding: 10px;
    color: white;

    h1 {
      font-family: "Story Script", cursive;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
  ul {
    margin-right: 20px;
    padding: 10px;
    display: flex;
    list-style: none;
    gap: 20px;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
#content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background-color: #fff;
  gap: 20px;
  .container {
    margin-top: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    gap: 10px;
    color: #117eb8;

    .input-area {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: large;
      }
      button {
        width: 100%;
        padding: 10px;
        background-color: #1974dd;
        color: white;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #1256a5;
        }
      }
      #history-total {
        margin-top: 10px;
      }
    }
  }
  h1 {
    color: #117eb8;
  }
}
#todo-list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100vh;
  font-size: 36px;
  background-color: #fff;
  padding: 1%;
  div {
    width: 400px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    span {
      gap: 0px;
      display: flex;
      justify-content: center;
    }
    a {
      text-decoration: none;
      color: #117eb8;
      font-family: "Story Script", cursive;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1px;
      &:hover {
        text-decoration: underline;
        color: #106390;
      }
    }
    .copy-btn {
      padding: 5px 25px;
      border-radius: 10px;
      border: none;
      color: #fff;
      background: none;
      font-size: x-large;
    }
    .button-area {
      box-shadow: none;
      width: 100%;
      height: max-content;
      .edit-btn,
      .delete-btn {
        width: 100%;
        padding: 10px;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px;
      }
      .edit-btn {
        background-color: #28a745;
        &:hover {
          background-color: #22863a;
        }
      }
      .delete-btn {
        background-color: #f44336;
        &:hover {
          background-color: #d32f2f;
        }
      }
    }
  }
}
hr {
  width: 1000px;
  border: 2px solid #117eb8;
}
